<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="pdf-top container">
        <div class="pdf-layout">
          <div>
            <h1>SERVICE AGREEMENT</h1>
            <h4>
              This Agreement was entered into on the {date}, by and between:
            </h4>
            <h4>
              <span>Welmonde HealthCare Private Limited, </span> a Private
              Limited Company having its registered office at, 71-72, Jyoti
              Nivas College Road, 5th Block, Koramangala, Bangalore-560034.
              Represented by
              <span>Laxmi, Director In International Business</span> and
              hereinafter referred to as the <span>First Party:</span>
            </h4>
            <center><h4>And</h4></center>
           
            <p>
             <span> {clinic}</span>, is located at, {address}, represented by <span>Dr. Vinay G.J authorized</span> 
               Signatory and hereinafter referred to as <span>second Party.</span> 
            </p>
            <p>
              Definitions: Unless repugnant to the context or meaning thereof,
              the capitalized terms defined herein shall have the following
              meaning:
            </p>
            <ol>
              <li>
                Health Package: Means the healthcare packages devised to provide
                a mix of services including individual procedures(medical
                procedure or intervention, or treatment) and/or Diagnostic
                Services.
              </li>
              <li>
                Service: Care delivery activities to provide emergency and
                non-emergency medical care to the customers/members of the first
                party.
              </li>
              <li>
                Treatment: Means the provision, coordination, or management of
                healthcare and related services by one or more healthcare
                providers, including the coordination or management of
                healthcare by a healthcare provider with a third party;
                consultation between healthcare providers relating to a patient;
                or the referral of a patient for healthcare from one healthcare
                provider to another.
              </li>
              <li>
                Ayurveda: A balance between body, mind, spirit, and social
                wellbeing.
              </li>
              <li>
                Consultation: Means a consultation which takes place between a
                patient and a licensed physician for the purpose of determining
                what medical examinations or procedures, if any, are
                appropriate.
              </li>
              <li>
                Customer: Any person uses the services and avails for the
                discounts, or purchases a package offered available on the
                Welmonde User Interface.
              </li>
              <li>
                Member: Shall mean any person who has purchased a package
                offered on the Welmonde User Interface.
              </li>
              <li>
                Welmonde User Interface: Shall mean the system program that
                governs the means by which a user of an electronic device or
                computer interacts with the electronic device or computer, and
                includes the appearance, position and functionality of the start
                up screen, program launcher, and other common interface elements
                such as menus, buttons and dialog boxes, as well as the
                applications bundled with the system program, through which
                Welmonde Health Care Private Limited offers and carries out its
                services.
              </li>
              <li>
                Privilege Card: A card issued to Welmonde Customers upon their
                first purchase of a package offered on the Welmonde User
                Interface.
              </li>
            </ol>
          </div>

          <div>
            <h1>WITNESSETH:</h1>
            <p>
              Whereas the First Party is in the business of providing Preventive
              HealthCare and other Medical Services to its members/customers;
            </p>
            <p>
              Whereas the Second Party is in Healthcare Services having its
              business across India.
            </p>
            <p>
              Whereas as a matter of good gesture, various services are provided
              by the First Party in its business, although it is not obliged to,
              and they include the following
            </p>
            <ol type="a">
              <li>
                Providing specified consultations with me or several doctors
                approved and listed by the First Party and at the cost of the
                First Party.
              </li>
              <li>
                Providing specified health check-ups and treatments diagnostic
                centres/hospitals/clinics/customer and/or client locations which
                are approved and listed by the First Party and at the cost of
                the First Party.
              </li>
              <li>
                Providing any treatments as and when required by the customer of
                the first party upon the advice of the consultant of the second
                party or any other consultant who is a registered medical
                practitioner.
              </li>
            </ol>
            <p>
              Whereas the present agreement is concerned with the provision of
              facilities referred to in Clause A and B supra
            </p>
            <p>
              Whereas the Second Party in one of the Medical facilities has its
              own pharmacy approved and listed by the First Party for the
              purpose of providing medicine to the members/customers of the
              First Party,
            </p>
            <p>
              Whereas both parties mutually benefit from this contract in as
              much as the members customers of the First Party would get service
              from the Second Party and the Second Party gets an opportunity to
              give service and get paid for the service so rendered and also be
              known by a larger number of people which would, in turn, help them
              become more popular,
            </p>
            <p>
              Whereas although the First Party would be making payments to the
              Second Party for the services rendered by the Second Party to the
              member’s customers of the First Party strictly in accordance with
              the terms of this agreement and strictly in conformity with and
              limited to what is stated in the Schedule hereunder, it is very
              clearly understood that except to the extent of liability to make
              payment for services to be rendered by the Second Party to the
              members/customers of the First Party, the First Party shall have
              no other obligation or liability whatsoever and
            </p>
            <p>
              Whereas the parties have finalized the terms and thought it fit to
              reduce the terms so agreed upon between them into writing.
            </p>
          </div>

          <div>
            <h1>NOW THIS AGREEMENT WITNESSETH AS FOLLOWS</h1>
            <ol>
              <li>
                <p>
                  Customer/member of the First Party means & includes the
                  member/customer, a corporate client of the First Party & his
                  family members.
                </p>
              </li>
              <li>
                <p>
                  The Second Party shall give services to the customer member of
                  the first party as agreed under the Schedule 1 of this
                  agreement with the First Party upon a mail communication or
                  through online communication.
                </p>
              </li>
              <li>
                <p>
                  The Second party will provide a written communication or
                  confirm the appointment online using the Welmonde user
                  interface as confirmation for such appointments or in case of
                  any changes in the appointment the same shall be communicated
                  to the first party through E-Mail or using the Welmonde user
                  interface.
                </p>
              </li>
              <li>
                <p>
                  The First party will issue a privilege card to the member
                  customer of the First party which will be presented in the
                  centre on the date of the appointment.
                </p>
              </li>
              <li>
                <p>
                  The appointments for the services to be delivered by the
                  Second Party shall be predetermined by the first party on
                  behalf of its member/customer or through an agent of the First
                  Party.
                </p>
              </li>
              <li>
                <p>
                  Once the appointment is confirmed, the Second Party shall not
                  refuse the service to any member/customer of the First Party
                  However, during emergencies, an appointment can be
                  re-scheduled with the consent of the member/customer and/or
                  the First Party.
                </p>
              </li>
              <li>
                <p>
                  First Party will provide the second party with a user
                  interface to which the second party can upload all the test
                  results or any such documents related to the services rendered
                  by the second party including but not limited to health check
                  reports, medical prescriptions, advice sheets and any other
                  such documents deemed relevant.
                </p>
              </li>
              <li>
                <p>
                  The second party will upload the test results in the user
                  interface provided by the First party failing on which the
                  payments for the particular health checks will be blocked by
                  the First party.
                </p>
              </li>
              <li>
                <p>
                  First Party will be issuing a privilege card to the customer
                  member of the first party which will be submitted to the
                  second party on the day of the appointment or in case the
                  customer member of the first party wants to avail of any
                  medical services from the second party.
                </p>
              </li>
              <li>
                <p>
                  Upon the submission of such card by the customer/member of the
                  first party the second party hereby agrees to provide with
                  discount as per schedule 2 mentioned in this agreement.
                </p>
              </li>
              <li>
                <p>
                  Second Party is to provide the first party with the
                  appointment schedule of the medical practitioners of the
                  second party and upload such data in the user interface
                  provided by the first party so as to provide appointments to
                  the customer/member of the first party by means of the online
                  or offline channel.
                </p>
              </li>
              <li>
                Second Party to provide dedicated customer care personnel for
                handling any queries or clarifications of the first party and
                also in case of escalations or any other queries related to
                services.
              </li>
              <li>
                The First Party shall make payment as per the schedule hereunder
                within a period of 15 days from the date of the invoice along
                with the details of the health checks upon due validation by the
                First Party or any other agency appointed for the same.
              </li>
              <li>
                The Second party should not share the prices agreed with the
                First party agreed under this agreement with the customer/member
                of the first party. In case of any such disclosures, the first
                party holds the right to hold the payments of the second party
                for such services rendered.
              </li>
              <li>
                Second Party also agrees to co-brand with the First Party to
                render medical services for corporate customers/member of the
                first party which may deem fit for the second party and with the
                mutual agreement between both parties by the means of E-mail
                communication or addendum to this agreement.
              </li>
              <li>
                The inter-se relationship of the customers of the First Party
                and the Second Party is on the basis that there is a direct
                contract between them and the First Party shall have no role to
                play in the consultation sought by the member/customer of the
                First Party and consultation given by the Second Party except to
                the extent of making payment as per this agreement subject to
                maximum liability as mentioned in the schedule hereunder
              </li>
              <li>
                While the First Party has approved and listed several medical
                facilities, it is the choice of the member/customer of the First
                Party to visit any of the listed medical facilities for service
                and it is made clear that First Party has neither introduced nor
                made any statements whatsoever with respect to the Second Party
                and as such the inter-relationship between the member/customer
                of the First Party and the Second Party is totally and
                absolutely independent of the First Party.
              </li>
              <li>
                It is permissible for the Second Party to give such advice to
                the member customer of the First Party as the Second Party may
                think fit and consequent upon such advice if any service
                rendered by the Second Party beyond what is contemplated in the
                Schedule or if such service were to cost any amount in excess of
                the maximum liability fixed under this agreement, it shall be a
                matter between the Second Party and the members/customers of the
                First Party and the First Party shall not be answerable to the
                same.
              </li>
              <li>
                The maximum liability of the First Party regarding any liability
                arising out of any Sample Sourced and presented to the Second
                Party shall be to the extent of making payment as mentioned in
                the Schedule and under no circumstances and for no reason the
                liability shall increase.
              </li>
              <li>
                The Schedule to this agreement may be read as part and parcel of
                this agreement and it gives inter alia, the details of the
                facilities/consultations/checks to be given by the Second Party
                to the member/customer of the First Party and the amount payable
                to the Second Party by the First Party for services so rendered.
              </li>
              <li>
                The validity of this agreement shall be for a period of 3 years
                from the date of signing extending to the last day of that
                calendar month Either Party will have the right to terminate the
                agreement by giving at least 30 days’ notice in writing, clearly
                mentioning their intention to end the agreement to the ether
                Party. In the event of termination and abandonment thereof, this
                Agreement shall become void and shall have no effect, without
                any liability on the part of any of the parties or their
                directors, officers, or shareholders in respect of this
                Agreement.
              </li>

              <li>INDEMNITY CLAUSE:</li>
            </ol>
          </div>
          <div>
            <ol>
              <li>
                In the event of any dispute, the difference of opinion whatever
                may at any time arise between the parties in respect of anything
                contained in this agreement or as to the use, rights, and
                liabilities, and entitlement or to the interpretation of any
                terms of this agreement, the same shall be referred to the
                arbitration of person(s) acceptable to both the parties and the
                decision shall be final and binding on both the parties.
              </li>
              The Second Party hereby agrees that any liability arising due to
              any default or negligence in providing or performing the Medical
              services shall be borne exclusively by the Second Party who alone
              shall be responsible for the defect and/or deficiencies in
              rendering such Medical services.
              <li>
                The First Party will handle issues that arise during the
                facilitation of services like Health appointments,
                misunderstanding of offers, and issues that are out of the scope
                of the Second Party.
              </li>
              <li>
                The Second Party shall at all times, indemnify and keep
                indemnified The First Party its present and former officers,
                directors, employees, agents and affiliates against all actions,
                suits, claims and demands brought or made against it in respect
                of anything done or purported to be done by the Second Party in
                connection with the responsibilities or services under these
                Terms and against any loss or damage caused to The First Party
                in consequence of any action or suit being brought against The
                First Party, along with the Second Party or otherwise, for
                anything done or purported to be done in the course of the
                performance of services under these Terms.
              </li>
              <li>
                The First Party shall have the right to participate as a party,
                along with the Second Party or otherwise, in all actions, suits,
                claims and demands brought or made against it in respect of
                anything done or purported to be done by the Second Party in
                connection with any of the services under these Terms.
              </li>
              <li>
                The Second Party shall at all times abide by the statutory
                and/or regulatory requirements prevalent in India and shall keep
                free and indemnify The First Party from all demands or
                responsibilities arising from accidents or loss of life, the
                cause or result of which is negligence or misconduct on the part
                of the Second Party.
              </li>
              <li>
                The Second Party shall pay all indemnities arising from the
                above-stated incidents without any extra cost to The First Party
                and shall not hold The First Party responsible or obligated for
                the same.
              </li>
              <li>
                The Second Party shall be solely responsible for the Medical
                services to be rendered to the Customer/member of The First
                Party, The First Party shall not be liable in any manner
                whatsoever for the standards of quality, accuracy, or rates
                charged by the Second Party and/or any other aspect of any
                service provided to any Customer/member of The First Party by
                the Second Party. The Second Party hereby agrees to indemnify,
                defend and hold harmless The First Party, it’s present and
                former officers, directors, employees, agents, and affiliates
                from and against any losses, claims, damages, liabilities,
                costs, or expenses (including reasonable attorney's fees and
                expenses of investigation) incurred by The First Party in
                relation to the Medical services provided by the Second Party to
                any Customer/member of the First Party Member.
              </li>
              <li>
                In case of any disputes or non-payment of dues or any such event
                between the parties, the second party will not deny holding any
                reports of the members/customers of the first party in case the
                appointment is given and the service is done. However, the
                second party has the freedom to deny appointments raised by the
                first party for its members/customers for services rendered by
                the second party.
              </li>
            </ol>
          </div>

          <div>
            <h1>SCHEDULE I</h1>
            <h4>Services to be given by the Second Party:</h4>
            <p>
              All Health Packages, services and consultation should be given on
              agreed rates by First Party and Second Party.
            </p>
          </div>

          <div>
            <h1>SCHEDULE 2</h1>
            <h4>
              DISCOUNTS AS AGREED FOR VARIOUS SERVICES RENDERED BY SECOND PARTY
            </h4>
            <p>
              Second Party agrees to pay {serviceCharge} of any service provided
              per patient to the first party as SERVICE CHARGE and provide
              Welmonde privilege card users a discount of {discount} on all
              outpatient consultation fees (Excluding consumables and Pharmacy
              Bill).
            </p>
          </div>

          <div>
            <h4>Appointments:</h4>

            <p>
              Appointments for the services can be fixed through email or
              through the user interface provided by the first party to the
              Second Party and the same being duly validated by the First Party
              or any other agency appointed by the First Party for the purpose:
              Appointment shall be given by the Second Party within 24 hours of
              the request for an appointment.
            </p>
          </div>

          <div>
            <h4>Duration of Consultation</h4>

            <p>As per the requirement and based on the actual situation.</p>
          </div>

          <div>
            <h4>Place of Consultation</h4>
            <h4>All branches of service providers across India</h4>

            <p>
              IN WITNESS WHEREOF, both the parties have executed this agreement
              by affixing their signatures on the day, month, and year first
              above mentioned in the presence of the following witnesses at
              Bangalore
            </p>
          </div>

          <div class="containers mt-4">
            <!-- <input type="file" name="" id="" /> -->
            <img src="{{signUrl}}" alt="">
            <p>FIRST PARTY</p>
          </div>
          <div class="containers">
            <img src="{{signUrl}}" alt="">
            <p>FIRST PARTY</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  .pdf-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pdf-layout span{
    font-weight: 700;
  }
  .pdf-layout {
    background: white;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    /* width: 80%; */
    /* padding: 20px 20px 20px 20px; */
    margin-top: 30px !important;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 50px;
  }
  .pdf-layout h1 {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    margin-top: 38px;
  }
  .pdf-layout div {
    width: 85% !important;
  }
  .containers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .containers img{
    width: 120px;
    margin-top: 15px;
    object-fit: contain;
  }

  .containers input {
    flex: 1;
  }

  .containers p {
    margin-left: 20px;
  }
  .pdf-layout h4 {
    font-size: 15px;
    font-weight: 400;
  }
</style>
